.about-me-container {
  display: flex; 
  align-items: center; 
  justify-content: center;
  padding-top: 45px;
}

.about-me-image {
  width: 25%; 
  height: auto; 
  max-height: 100%;
  outline: cacl(var(--s)/2 solid #0009);
  object-fit: cover; 
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.about-me-image:hover{
  transform:  translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.text-container {
  width: 60%; 
  color: #fff2ec; 
  padding: 20px; 
  box-sizing: border-box; 
  position: relative; 
  font-size: 17px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-container h1 {
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: normal;
  position: relative;
  z-index: 1;
}
.text-container p {
  margin-top: 20.8px;
  font-family: 'Poppins';
  text-align: center;
  font-weight: lighter;
  
}

.text-container::before {
  content: ''; 
  position: fixed;
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.699); 
  z-index: -1; 
}
