.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: justify;
  font-family: 'Inter';
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Inter';
  font-size: 17px;
  margin-bottom: 15px;
}
p {
  text-align: justify;
  font-family: 'Rajdhani';
}


.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
  font-family: 'Rajdhani';
}

.cards__items {
  display: flex; /* Alinha os itens horizontalmente */
  justify-content: space-around; /* Distribui os itens */
  margin-bottom: 24px;
  width: 100%; /* Garante que ocupe toda a largura */
  list-style-type: none; /* Remove os marcadores da lista */
  padding: 0; /* Remove o padding padrão */
  font-family: 'Rajdhani';
}

.cards__item {
  flex: 0 1 200px; /* Define largura fixa, permitindo que os itens sejam pequenos */
  margin: 0 1rem;
  text-align: center; /* Centraliza o texto */
  font-family: 'Rajdhani';
}

.icon {
  font-size: 40px; /* Tamanho do ícone */
  margin-bottom: 10px; /* Espaçamento abaixo do ícone */
}

@media only screen and (max-width: 768px) {
  .cards {
    padding: 2rem; /* Reduzir o padding em telas menores */
  }

  .cards__items {
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens */
  }

  .cards__item {
    flex: 0 1 100%; /* Faz os itens ocuparem toda a largura */
    margin: 1rem 0; /* Margem vertical entre os itens */
  }

  h2 {
    font-size: 16px; /* Ajuste do tamanho da fonte para cabeçalho */
  }

  p {
    font-size: 14px; /* Ajuste do tamanho da fonte para parágrafo */
  }
}
