.bodyslider{
margin: 0;
padding: 0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: transparent;
}

.slider {
  width: 50px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides img{
  width: 20%;
  transition: 2s;
  height: 500px;
}